feed
/html
/nextnav
/private
/web/rss.xml
/web/core/mission.html
/web/blog
/web/core
/web/creed
/web/intro
/web/issues
/web/news
/web/quotes
/web/quotes-by-author
/web/search
/web/tags

/web/index.html
/web/js/quotes.js
/organizer
/reference
/web/follow
/web/links
web/creed/*
web/quotes-by-author/*
*.png
*.jpg
/medium posts
/emails
/Practopians To Do
nextnav/*
/includes/tags_list.html
/web/js/where_to_reverse_chron.js
/web/basics
/web/js/where_to_content_logical.js
/includes/navbar.html
